
@import "./styles/mixins.scss";
//- Color Variables
$start: #9be872;
$reset:  #FF5733;
$restart: #ccf443;
$pause: #ffdc2d;

//- Styles
body {
  margin:0;
  font-family: "Courier New", Courier, monospace;
  input:focus{
    outline: none;
  }

  h1 {
    margin: 50px 50px 0 25px;
  }

}

.stopwatch-component {
  display: inline-flex;
  border: black solid 5px;
  margin: 50px;

  .timer-group {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 50px;

    p {
      text-align: center;
      font-size: 2rem;
      min-width: 250px;
      font-weight: bold;
    }
  }

    .button-group {
      padding: 0 50px;

    button {
      cursor: pointer;
      padding: 25px;
      margin: 25px;
      min-width: 150px;
      outline: 0;
      font-size: 1.5rem;
      border: black solid 5px;

      &::-moz-focus-inner {
        border: 0;
      }
    }

    .running {
      background: $pause;
    }

    .paused {
      background: $restart;
    }
    .reset-timer {
      background: $reset;
    }

    .initial-state {
      background: $start;
    }
  }

  @include breakpoint(phone) {
    width: 100%;
  }
}

#app {
  margin: 0;
  padding: 0;
}